/* 

  Styling for whole app is here. Comments are given for each component  
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 

  Landing Page Styling 
*/

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: white;
}


/* 

  Search Component Styling  
*/

.search-input {
  margin-top: 3em;
  width: 80%;
  padding: 10rem 10rem;
  border-radius: 5rem;
  font-size: 10rem;
}

/* 

  Styling for List of jobs on landing page. It is Job_List Component
*/

.jobs-list-container {
  display: flex;
  flex-wrap: wrap;
  overflow:scroll ;
  border-radius: 5rem;
  justify-content:space-around;
  width: 80%;
  height: 100%;
  /* background: black; */
  margin-top: 20rem;
  padding:20rem 20rem;
  box-shadow: 5rem 10rem 18rem #888888;
  
}

/* 

  Styling for individual card. It is Card.js component
*/


.card-container {
  display: flex;
  text-align: left;
  width: 300rem;
  height: 160rem;
  padding: 10rem;
  margin-top: 10rem;
  background: white;
  border: 1rem solid black;
  border-radius: 5rem;
  /* box-shadow: 1rem 2rem 10rem #888888; */
}

.card-container .left {
  width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.card-container .left .card-title {
  font-weight: 500;
  font-size: 15rem;
  margin-bottom: 5rem;
}

.card-container .left .card-published {
  font-weight: 600;
  font-size: 8rem;
  color: #37d079;
}

.card-container .left .card-company {
  font-weight: 600;
  font-size: 12rem;
  color: #37d079;
}

.card-container .left .card-email {
  font-weight: 600;
  font-size: 8rem;
  color: gray;
}

.card-container .right {
  /* padding-left: 30rem; */
  width: 200rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.card-container .right .card-description {
  max-width: 100%;
  /* font-weight: 50rem; */
  font-size: 10rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-container .right .card-apply{
  margin-top: 7rem;
  padding: 3rem 3rem;
  width: 80rem;
  font-size: 10rem;
}

.card-container .right .job-description{
  margin-top: 7rem;
  padding: 3rem 3rem;
  width: 80rem;
  font-size: 10rem;
}

.card-container:hover{
  background: black;
  color: white;
  border: 1rem solid white;
  box-shadow: 2rem 4rem 15rem #888888;
}

.card-container .right .card-apply:hover{
  background: #37d079;
  color: white;
}

.card-container .right .job-description:hover{
  background: #37d079;
  color: white;
}


/* Details pages styling */

.detail-container{
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* background: black; */
  color: white;
  margin-bottom: 40rem;
}

.detail-container .detail-top{
  display: flex;
  width: 100%;
  text-align: left;
  margin-top: 30rem;
  /* border-radius: 0 0rem 100rem 0; */
  /* align-items: flex-start; */
}

.detail-container .detail-top .detail-top-left{

  display: flex;
  background: #37d079;
  flex-direction: column;
  width: 60%; 
  height: 40vh;
  padding: 30rem;
  justify-content: space-around;
  line-height: 30rem;
  text-align: left;
  color: black;
}

.detail-container .detail-top .detail-top-right{

  display: flex;
  flex-direction: column;
  width: 40%; 
  padding: 20rem;
  justify-content: space-around;
  text-align: left;
  background:black;
  color: #37d079;
}

.detail-container .detail-bottom
{
  border:1rem   solid #000000;
  border-top:0rem ;
  width: 100%;
  padding: 10rem;
}

.detail-container .detail-top .detail-top-left .detail-title{
  font-weight: 600;
  font-size: 35rem;
}

.detail-container .detail-top .detail-top-left .detail-published{
  font-weight: 500;
  font-size: 10rem;
  color:maroon;
}

.detail-container .detail-top .detail-top-left .detail-company{
  font-weight: 500;
  font-size: 20rem;
}

.detail-container .detail-top .detail-top-left .detail-country{
  font-weight: 500;
  font-size: 10rem;
  color: maroon;
}

.detail-container .detail-top .detail-top-left .detail-Type{
  font-weight: 500;
  font-size: 15rem;
}

.detail-container .detail-top .detail-top-left .detail-email{
  font-weight: 400;
  font-size: 12rem;
}

.detail-container .detail-top .detail-top-right .apply{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-container .detail-top .detail-top-right .detail-apply{
  margin: auto;
  font-weight: 400;
  font-size: 10rem;
  justify-content: center;
  padding: 5rem 30rem;
  margin-right: 3rem;
}

.detail-container .detail-top .detail-top-right .detail-tags .tags{
  display: flex;
  flex-wrap: wrap;
  font-size: 13rem;
  width: 100%;
  justify-content: left;

}

.detail-container .detail-top .detail-top-right .detail-tags .tags .tag{
  background: white;
  color: black;
  padding: 2rem 4rem;
  margin: 3rem 5rem;
  font-size: 13rem;
}

.detail-container .detail-top .detail-top-right .detail-apply:hover{
  background: #37d079;
  color: white;
}

.detail-container .detail-bottom .detail-description{
  color:black;
  font-size: 15rem;
  text-align: justify;
}

/* Loading Component Styling */

.Loading{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: black;

}

.Loading *{
  color: #37d079;
  font-size: 40rem;
  font-weight: 500;

}

/* Error Component Styling */

.Error{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: black;

}

.Error *{
  color: #37d079;
  font-size: 40rem;
  font-weight: 500;

}

/* 
Media Query
*/

@media (max-width:900rem) {

  html{
    font-size: 7%;
    width: 100%;
  }
  
}
